.footer__column-link {
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: list-item;
}

.footer__column-link:hover {
  opacity: .6;
  transition: 600ms;
}
