.khan__buy-link {
  display: inline-block;
  margin: 0 0 0 48px;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: .6;
  transition: 600ms;
}
